!!! Frameset
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= @options.title
    %meta{ :content => "text/html; charset=#{@options.charset}", "http-equiv" => "Content-Type" }
  %frameset{ :cols => "20%, *", :border => "1", :frameborder => "1", :bordercolor => "gray" }
    %frameset{ :rows => "100%" }
      %frame{ :name => "Classes", :src => "/widget-docs/widget-index" }
    %frame{ :name => "docwin", :src => (@main_page_uri.length > 0 ? @main_page_uri : '/widget-docs/index_general') }=""
